<li id="word-<%= word.id %>">
  <span class="word"><%= word.content %></span>
  <% word.answers.each do |answer| %>
    <% if answer.correct == true %>
      <li id="answer-<%= answer.id %>">
      <span class="answer"><%= answer.content %></span>
      </li>
    <% end %>
  <% end %>
</li>
